<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>게시판</h1>
        <table>
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>조회수</td>
            </tr>
            <!-- {% set index=0 %}  -->
            {% for item in list %}
            <tr>
                <td>{{loop.index-1}}</td>
                <td><a href="/view?index={{loop.index-1}}">{{item.subject}}</a></td>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <td>5</td>
            </tr>
            <!-- {% set index = index +1 %} -->
            {% endfor %}
        </table>
        <!-- {{list[0].name}}{{list[0].subject}}{{list[0].content}} -->
        <a href="/write">글작성</a>
    </body>
</html>
