<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/view.css" />
    </head>
    <body>
        <h1>view</h1>
        <div>제목 : {{title}}</div>
        <div>작성자 : {{writer}}</div>
        <div>내용 : {{content}}</div>
        <a href="/list">뒤로가기</a><a href="/modify">수정하기</a>
        <script src="/js/view/js"></script>
    </body>
</html>
