<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/write.css" />
    </head>
    <body>
        <h1>write</h1>
        <form method="post" action="/write">
            <div>제목 : <input type="text" name="title" /></div>
            <div>작성자 : <input type="text" name="writer" id="" /></div>
            <div>내용 : <textarea name="content" id="" cols="30" rows="10"> </textarea></div>
            <button type="submit">글쓰기</button>
        </form>
        <script src="js.write.js"></script>
    </body>
</html>
